/* The Navigation Bar*/
.navbar {
  overflow: hidden;
  background-color: black;
  top: 0; /* Position the navbar at the top of the page */
  width: 800px; /* Half width */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px outset white;
  margin-bottom: 0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px; /* <Height> than <Width> */
  text-decoration: none;
  font-family: serif;
}

/* Change background on mouse-over */
.navbar a:hover {
  background-color: midnightblue;
  color: white;
}
