.headerimaj {
    margin-top: 20px;
    /* Add a top margin to avoid content overlay */
    display: block;
    width: 800px;
    /* suitable for 800x600 displays? */
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px outset white;
    font-family: serif;
}
.headerimaj img {
    width: 800;
}

.navbar {
    overflow: hidden;
    background-color: black;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 800px;
    /* Half width */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px outset white;
    margin-bottom: 0px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    /* <Height> than <Width> */
    text-decoration: none;
    font-family: serif;
}

/* Change background on mouse-over */
.navbar a:hover {
    background-color: darkgreen;
    color: white;
}

body {
    background-color: black;
    background-size: 100%;
    background-position: center;
    background: url("assets/iGu.gif");
    color: white;
}

.elgato {
    margin-top: 20px;
    width: 800px;
    /* suitable for 800x600 displays? */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px outset white;
    background-color: black;
    font-family: serif;
}

.beegtext {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.textoflinks {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

/* unvisited link */
.textoflinks a:link {
    color: lightblue;
}

/* visited link */
.textoflinks a:visited {
    color: lightblue;
}

/* mouse over link */
.textoflinks a:hover {
    color: green;
}