/* Add a black background color to the top navigation */
.navbar {
    background-color: #33333399;
    box-shadow: 5px 5px 5px #00000066;
    width: 780px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border: 2px solid #00000055;
    border-radius: 10px;
    backdrop-filter: blur(12px);
    position: fixed;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.navbar a {
    transition: box-shadow 0.3s, background-color 0.3s, padding 0.3s;
    border-radius: 12px;
    float: none;
    color: white;
    background-color: #00000000;
    text-align: center;
    padding: 10px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-size: 19px;
}

.navbar a:hover {
    transition: box-shadow 0.3s, background-color 0.3s, padding 0.3s;
    box-shadow: 12px 12px 12px #00000055;
    background-color: #77777722;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}

.navbar a:active {
    transition: box-shadow 0.3s;
    box-shadow: 12px 12px 12px #00000055 inset;
    border-radius: 12px;
}

h2 {
    text-align: center;
}
.elgato{
    width: 800px;
    margin-top: 30px;
    border: 3px solid #00000044;
    background: #00000077;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(12px);
    z-index: 0;
}
.elgato button{
    background-color: #00000055;
    border-radius: 8px;
}

* {
    background-color: transparent;
    text-align: center;
    color: white;
    font-family: "Segoe UI Light", 'Segoe UI';
}

body {
    /*background: linear-gradient(-45deg, #cc5430, #c51a5b, #0184b3, #01b38a);*/
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-size: 400% 400%;*/
    /*animation: gradient 15s ease infinite;*/
    background-image: url("/assets/windows-11-dark--11771.png");

}